<section class="heading-part">
  <div class="left-side">
    <tui-breadcrumbs>
      <a *tuiBreadcrumb tuiLink> Management </a>
    </tui-breadcrumbs>
    <h5 class="tui-text_h5">Faculty</h5>
  </div>
  <div class="right-side">
    <button
      tuiButton
      type="button"
      icon="tuiIconPlus"
      size="m"
      class="tui-space_right-3 tui-space_bottom-3"
      (click)="toggle(true)"
      (tuiActiveZoneChange)="toggle($event)"
    >
      Add

      <div class="sidebar" *tuiSidebar="open; direction: 'right'">
        <app-add-faculty (openSidebar)="toggle($event)"></app-add-faculty>
      </div>
    </button>
  </div>
</section>

<section class="content-part">
  <tui-input [(ngModel)]="searchTerm" tuiTextfieldSize="m" class="table-search"> Search <input tuiTextfield /> </tui-input>
  <tui-loader [overlay]="true" [showLoader]="loading$ | async">
    <table tuiTable [columns]="columns" *tuiLet="facultyDataRequest$ | async as data">
      <thead>
        <tr tuiThGroup>
          <th *tuiHead="'id'" tuiTh>ID</th>
          <th *tuiHead="'facultyName'" tuiTh>Faculty Name</th>
        </tr>
      </thead>
      <tbody tuiTbody [data]="data">
        <tr *tuiRow="let item of data" tuiTr>
          <td *tuiCell="'id'" tuiTd>{{ item.id }}</td>
          <td *tuiCell="'facultyName'" tuiTd>{{ item.facultyName }}</td>
        </tr>
      </tbody>
    </table>
  </tui-loader>
</section>
