<section class="heading-part">
  <div class="left-side">
    <button
      tuiButton
      type="button"
      class="tui-space_right-3 tui-space_bottom-3"
      icon="tuiIconArrowLeft"
      appearance="flat"
      (click)="goBack()"
    >
      Back
    </button>
    <tui-breadcrumbs>
      <a *tuiBreadcrumb tuiLink> Courses </a>
    </tui-breadcrumbs>
    <h5 class="tui-text_h5">Programming 101</h5>
  </div>
  <div class="right-side">
    <button tuiButton type="button" icon="tuiIconDraft" size="m" class="tui-space_right-3 tui-space_bottom-3">Edit</button>
  </div>
</section>

<p class="section-title">Basic Information</p>
<section class="content-part">
  <div class="info-box-wrapper">
    <div class="info-box">
      <p class="info-subheading">ID</p>
      <p class="info-content">1</p>
    </div>
    <div class="info-box">
      <p class="info-subheading">Faculty</p>
      <p class="info-content">Informatics and Computer Science</p>
    </div>
    <div class="info-box">
      <p class="info-subheading">Major</p>
      <p class="info-content">Computer Networks</p>
    </div>
    <div class="info-box">
      <p class="info-subheading">Max No. of Students</p>
      <p class="info-content">0</p>
    </div>
    <div class="info-box">
      <p class="info-subheading">Current No. of Students</p>
      <p class="info-content">0</p>
    </div>
    <div class="info-box">
      <p class="info-subheading">Course Room</p>
      <p class="info-content">TSC-101</p>
    </div>
  </div>
</section>

<p class="section-title">Groups</p>
<section class="content-part">
  <div class="info-box-wrapper">
    <div class="info-box">
      <p class="info-subheading">ID</p>
      <p class="info-content">1</p>
    </div>
  </div>
</section>
