<h5 class="tui-text_h5">{{ isEditMode ? "Edit" : "Create" }} Course</h5>
<form [formGroup]="createNew" (ngSubmit)="onSubmit()">
  <label tuiLabel label="Identifier">
    <tui-input tuiTextfieldSize="m" formControlName="id" [tuiTextfieldLabelOutside]="true">
      Enter ID
      <input tuiTextfield type="id" />
    </tui-input>
  </label>
  <label tuiLabel label="Title">
    <tui-input tuiTextfieldSize="m" formControlName="courseName" [tuiTextfieldLabelOutside]="true">
      Enter Title
      <input tuiTextfield type="title" />
    </tui-input>
  </label>
  <label tuiLabel label="Faculty">
    <tui-select
      *tuiLet="facultyDataRequest$ | async as facultyItems"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="facultyID"
      [valueContent]="facultyItems ? stringifyFaculty(facultyItems) : loading"
    >
      Choose A Faculty
      <ng-template tuiDataList>
        <tui-data-list *ngIf="facultyItems; else loading">
          <button *ngFor="let item of facultyItems" tuiOption [value]="item.id">
            {{ item.facultyName }}
          </button>
        </tui-data-list>
      </ng-template>
      <ng-template #loading>
        <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
      </ng-template>
    </tui-select>
  </label>
  <label tuiLabel label="Major">
    <tui-select
      *tuiLet="majorDataRequest$ | async as majorItems"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="majorID"
      [valueContent]="majorItems ? stringifyMajor(majorItems) : loading"
    >
      Choose A Major
      <ng-template tuiDataList>
        <tui-data-list *ngIf="majorItems; else loading">
          <button *ngFor="let major of majorItems" tuiOption [value]="major.id">
            {{ major.majorName }}
          </button>
        </tui-data-list>
      </ng-template>
      <ng-template #loading>
        <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
      </ng-template>
    </tui-select>
  </label>
  <label tuiLabel label="Prerequisite Courses">
    <tui-multi-select
      *tuiLet="courseItems$ | async as courseItems"
      class="tui-space_top-2"
      [editable]="false"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="prerequisteList"
      [tuiTextfieldCleaner]="true"
      [stringify]="courseStringify$ | async"
    >
      Select Courses
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="courseItems"
        [itemContent]="courseStringify$ | async"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </label>
  <label tuiLabel label="Credits">
    <tui-input tuiTextfieldSize="m" formControlName="credits" [tuiTextfieldLabelOutside]="true">
      Enter Credits
      <input tuiTextfield />
    </tui-input>
  </label>
  <label tuiLabel label="Max No. Students (optional)">
    <tui-input-count tuiTextfieldSize="m" formControlName="maxNoStudents" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield type="maxnostudents" />
    </tui-input-count>
  </label>
  <label tuiLabel label="Current No. Students (optional)">
    <tui-input-count tuiTextfieldSize="m" formControlName="currentNoStudents" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield type="title" />
    </tui-input-count>
  </label>
  <div class="divider"></div>
  <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
</form>
