<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row-adaptive">
    <aside class="tui-col_xs-12 tui-col_md-2 tui-col_lg-2">
      <a [routerLink]="['faculty']" routerLinkActive="management-active">Faculty</a>
      <a [routerLink]="['courses']" routerLinkActive="management-active">Courses</a>
      <a [routerLink]="['major']" routerLinkActive="management-active">Major</a>
      <a [routerLink]="['department']" routerLinkActive="management-active">Department</a>
    </aside>
    <main class="tui-col_xs-12 tui-col_md-10 tui-col_lg-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
