.tui-container,
.tui-row {
  height: 100%;
}

aside,
main {
  height: 100%;
}

aside {
  padding: 0;

  a {
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 15px;
    margin-inline-end: 2rem;

    &:hover {
      color: var(--tui-primary);
    }
  }
}

.management-active {
  background-color: var(--md-sys-color-secondary-container);
  color: black;
  border-top-right-radius: var(--tui-radius-m);
  border-bottom-right-radius: var(--tui-radius-m);
  color: var(--md-sys-color-on-secondary-container) !important;
}
