table {
  width: 100%;
}

.title-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  button {
    margin: 0;
  }
}

.tui-tag-color {
  background-color: var(--md-sys-color-tertiary-container);

  &__selected {
    background-color: var(--md-sys-color-tertiary);
  }
}

.filter-bubble-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  tui-tag {
    margin-inline-end: 15px;
  }
}
