<tui-loader [overlay]="true" *tuiLet="offeredCourses$ | async as courseData" [showLoader]="!!(loading$ | async)">
  <div class="title-button-wrapper">
    <h6 class="tui-text_body-xl">Courses</h6>
    <button
      tuiButton
      type="button"
      icon="tuiIconDraft"
      size="s"
      class="tui-space_right-3 tui-space_bottom-3"
      (click)="toggleCourseAdd(true)"
      (tuiActiveZoneChange)="toggleCourseAdd($event)"
    >
      Add/Remove
      <div class="sidebar" *tuiSidebar="open; direction: 'right'">
        <app-add-course-to-semester
          [semesterID]="pageID"
          [facultyID]="selectedFaculty"
          [courseList]="courseData"
          (openSidebar)="toggleCourseAdd($event, true)"
        ></app-add-course-to-semester>
        <!-- <app-add-group [courseID]="pageID" (openSidebar)="toggleGroupAdd($event, true)"></app-add-group> -->
      </div>
    </button>
  </div>
  <p>Filter By Major</p>
  <div class="filter-bubble-wrapper">
    <tui-tag
      *ngFor="let majorName of majorFilters$ | async as majorFilters; let i = index"
      size="l"
      status="custom"
      class="tui-tag-color"
      [ngClass]="{ 'tui-tag-color__selected': majorName.selected }"
      [hoverable]="true"
      [value]="majorName.name"
      (click)="selectFilter(i, majorFilters)"
    >
    </tui-tag>
  </div>
  <table tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'id'" tuiTh>ID</th>
        <th *tuiHead="'courseName'" tuiTh>Name</th>
        <th *tuiHead="'majorName'" tuiTh>Major</th>
      </tr>
    </thead>
    <tbody tuiTbody *ngIf="courseData" [data]="courseData">
      <tr *tuiRow="let item of courseData" tuiTr>
        <td *tuiCell="'id'" tuiTd>{{ item?.id }}</td>
        <td *tuiCell="'courseName'" tuiTd>{{ item?.courseName }}</td>
        <td *tuiCell="'majorName'" tuiTd>{{ item?.major?.majorName }}</td>
      </tr>
    </tbody>
  </table>
</tui-loader>
