<h5 class="tui-text_h5">Create Semester</h5>
<form [formGroup]="createNew" (ngSubmit)="onSubmit()">
  <label tuiLabel label="Start Year">
    <tui-select tuiTextfieldSize="m" formControlName="semesterStartYear" [tuiTextfieldLabelOutside]="true">
      Select Starting Year
      <input tuiTextfield />
      <tui-data-list-wrapper *tuiDataList [items]="years"></tui-data-list-wrapper>
    </tui-select>
  </label>
  <label tuiLabel label="Semester No.">
    <tui-select
      tuiTextfieldSize="m"
      formControlName="semesterNumber"
      [tuiTextfieldLabelOutside]="true"
      [valueContent]="stringify(semesters)"
    >
      Select Semester No.
      <input tuiTextfield />
      <ng-template tuiDataList>
        <tui-data-list *ngIf="semesters">
          <button *ngFor="let item of semesters" tuiOption [value]="item.id">
            {{ item.name }}
          </button>
        </tui-data-list>
      </ng-template>
    </tui-select>
  </label>
  <label tuiLabel label="Faculties">
    <tui-multi-select
      *tuiLet="facultyItems$ | async as facultyItems"
      class="tui-space_top-2"
      [editable]="false"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="facultiesArray"
      [tuiTextfieldCleaner]="true"
      [stringify]="facultyStringify$ | async"
    >
      Select Faculties
      <tui-data-list-wrapper *tuiDataList tuiMultiSelectGroup [items]="facultyItems" [itemContent]="facultyStringify$ | async">
      </tui-data-list-wrapper>
      <ng-template #loading>
        <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
      </ng-template>
    </tui-multi-select>
  </label>
  <div class="divider"></div>
  <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
</form>
