.heading-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

  .left-side {
    flex: 0.3;
  }

  .right-side {
    flex: 0.7;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    tui-input {
      width: 100%;
    }
  }
}
.content-part {
  margin-top: 20px;

  table {
    width: 100%;
  }
}
