<section class="heading-part">
  <div class="left-side">
    <tui-breadcrumbs>
      <a *tuiBreadcrumb tuiLink> Management </a>
    </tui-breadcrumbs>
    <h5 class="tui-text_h5">Courses</h5>
  </div>
  <div class="right-side">
    <button
      tuiButton
      type="button"
      icon="tuiIconPlus"
      size="m"
      class="tui-space_right-3 tui-space_bottom-3"
      (click)="toggle(true)"
      (tuiActiveZoneChange)="toggle($event)"
    >
      Add

      <div class="sidebar" *tuiSidebar="open; direction: 'right'">
        <h5 class="tui-text_h5">Create New Major</h5>
        <form [formGroup]="createNew" (ngSubmit)="onSubmit()">
          <label tuiLabel label="Identifier">
            <tui-input tuiTextfieldSize="m" formControlName="id" [tuiTextfieldLabelOutside]="true">
              Enter ID
              <input tuiTextfield type="id" />
            </tui-input>
          </label>
          <label tuiLabel label="Title">
            <tui-input tuiTextfieldSize="m" formControlName="majorName" [tuiTextfieldLabelOutside]="true">
              Enter Title
              <input tuiTextfield type="title" />
            </tui-input>
          </label>
          <label tuiLabel label="Faculty">
            <tui-select
              tuiTextfieldSize="m"
              [tuiTextfieldLabelOutside]="true"
              formControlName="facultyID"
              [valueContent]="stringifyFaculty(faculty)"
            >
              <ng-template tuiDataList>
                <tui-data-list *ngIf="faculty">
                  <button *ngFor="let item of faculty" tuiOption [value]="item.id">
                    {{ item.facultyName }}
                  </button>
                </tui-data-list>
              </ng-template>
            </tui-select>
          </label>
          <label tuiLabel label="Major">
            <tui-select
              tuiTextfieldSize="m"
              [tuiTextfieldLabelOutside]="true"
              formControlName="majorID"
              [valueContent]="stringifyMajor(major)"
            >
              <ng-template tuiDataList>
                <tui-data-list *ngIf="major">
                  <button *ngFor="let onemajor of major" tuiOption [value]="onemajor.id">
                    {{ onemajor.majorName }}
                  </button>
                </tui-data-list>
              </ng-template>
            </tui-select>
          </label>
          <label tuiLabel label="Max No. Students (optional)">
            <tui-input-count tuiTextfieldSize="m" formControlName="maxNoStudents" [tuiTextfieldLabelOutside]="true">
              <input tuiTextfield type="maxnostudents" />
            </tui-input-count>
          </label>
          <label tuiLabel label="Current No. Students (optional)">
            <tui-input-count tuiTextfieldSize="m" formControlName="currentNoStudents" [tuiTextfieldLabelOutside]="true">
              <input tuiTextfield type="title" />
            </tui-input-count>
          </label>
          <label tuiLabel label="Course Room">
            <tui-input tuiTextfieldSize="m" formControlName="courseRoom" [tuiTextfieldLabelOutside]="true">
              Enter Room ID
              <input tuiTextfield type="title" />
            </tui-input>
          </label>
          <div class="divider"></div>
          <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
        </form>
      </div>
    </button>
  </div>
</section>

<section class="content-part">
  <tui-input [(ngModel)]="searchTerm" tuiTextfieldSize="m" class="table-search"> Search <input tuiTextfield /> </tui-input>
  <table tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'id'" tuiTh>ID</th>
        <th *tuiHead="'facultyName'" tuiTh>Faculty Name</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="data">
      <tr *tuiRow="let item of data; let index = index" tuiTr>
        <td *tuiCell="'id'" tuiTd>{{ item.id }}</td>
        <td *tuiCell="'facultyName'" tuiTd>{{ item.facultyName }}</td>
      </tr>
    </tbody>
  </table>
</section>
