@use "../../../../../page-heading.scss";

.content-part {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, auto);
  }

  > button {
    grid-column: 1 / 3;
  }

  app-semester-view-block {
    display: block;
  }
}

.prev-history-container {
  margin-top: 20px;
  grid-column: 1 / 3;
  p {
    font-size: 16px;
  }
  .prev-list-wrapper {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;

    @media (max-width: 1278px) {
      grid-template-columns: repeat(2, auto);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
    }
  }
}
