<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row-adaptive">
    <tui-loader [overlay]="true" *tuiLet="semesterDataRequest$ | async as data" [showLoader]="!data">
      <section class="heading-part">
        <div class="left-side">
          <tui-breadcrumbs>
            <a *tuiBreadcrumb tuiLink> Semester </a>
          </tui-breadcrumbs>
          <h5 class="tui-text_h5">[{{ this.pageID.semesterYear }}] Semester {{ this.pageID.semesterNumber }}</h5>
        </div>
        <div class="right-side"></div>
      </section>

      <tui-loader [overlay]="true" *tuiLet="facultyDataRequest$ | async as facultyData" [showLoader]="!facultyData">
        <div class="tui-row tui-row-adaptive">
          <aside class="tui-col_xs-12 tui-col_md-3 tui-col_lg-3">
            <a [routerLink]="[faculty.id]" routerLinkActive="management-active" *ngFor="let faculty of facultyData">{{
              faculty.facultyName
            }}</a>
          </aside>
          <div class="tui-col_xs-12 tui-col_md-9 tui-col_lg-9">
            <router-outlet></router-outlet>
          </div>
        </div>
      </tui-loader>
    </tui-loader>
  </div>
</div>
<!-- 
<tui-accordion class="container">
  <tui-accordion-item *ngFor="let faculty of facultyData">
    {{ faculty.facultyName }}
    <ng-template tuiAccordionItemContent>
      Development kit consisting of the low level tools and abstractions used to develop Taiga UI Angular entities
    </ng-template>
  </tui-accordion-item>
</tui-accordion> -->
