<h5 class="tui-text_h5">Add New Group</h5>
<form [formGroup]="createNew" (ngSubmit)="onSubmit()">
  <label tuiLabel label="Day">
    <tui-select tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true" formControlName="day">
      Choose Day Of The Week
      <input tuiTextfield placeholder="" />
      <tui-data-list-wrapper *tuiDataList [items]="daysOfTheWeek"></tui-data-list-wrapper>
    </tui-select>
  </label>
  <label tuiLabel label="Start Time">
    <tui-input-time tuiTextfieldSize="m" formControlName="startTime" [tuiTextfieldLabelOutside]="true" [items]="timeItems">
      Choose Start Time
    </tui-input-time>
  </label>
  <label tuiLabel label="End Time">
    <tui-input-time tuiTextfieldSize="m" formControlName="endTime" [tuiTextfieldLabelOutside]="true" [items]="timeItems">
      Choose End Time
    </tui-input-time>
  </label>
  <label tuiLabel label="Instructor">
    <tui-multi-select
      *tuiLet="employeeItems$ | async as employeeItems"
      class="tui-space_top-2"
      [editable]="false"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="instructorIDs"
      [tuiTextfieldCleaner]="true"
      [stringify]="employeeStringify$ | async"
    >
      Employees
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="employeeItems"
        [itemContent]="employeeStringify$ | async"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </label>
  <label tuiLabel label="Max No. Students">
    <tui-input-count tuiTextfieldSize="m" formControlName="maxNoStudents" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield type="maxnostudents" />
    </tui-input-count>
  </label>
  <label tuiLabel label="Course Room">
    <tui-input tuiTextfieldSize="m" formControlName="room" [tuiTextfieldLabelOutside]="true">
      Enter Room ID
      <input tuiTextfield type="text" />
    </tui-input>
  </label>
  <div class="divider"></div>
  <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
</form>
