<h5 class="tui-text_h5">Add New Group</h5>
<form [formGroup]="createNew" (ngSubmit)="onSubmit()">
  <label tuiLabel label="Group Name">
    <tui-input tuiTextfieldSize="m" formControlName="name" [tuiTextfieldLabelOutside]="true">
      Enter Group Name
      <input tuiTextfield type="text" />
    </tui-input>
  </label>
  <label tuiLabel label="Doctors">
    <tui-multi-select
      *tuiLet="doctorItems$ | async as doctorItems"
      class="tui-space_top-2"
      [editable]="false"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="doctors"
      [tuiTextfieldCleaner]="true"
      [stringify]="doctorStringify$ | async"
    >
      Doctors
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="doctorItems"
        [itemContent]="doctorStringify$ | async"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </label>
  <label tuiLabel label="Teaching Assistants">
    <tui-multi-select
      *tuiLet="teachingAssitantItems$ | async as teachingAssitantItems"
      class="tui-space_top-2"
      [editable]="false"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="teachingAssistants"
      [tuiTextfieldCleaner]="true"
      [stringify]="teachingAssistantStringify$ | async"
    >
      Teaching Assitants
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="teachingAssitantItems"
        [itemContent]="teachingAssistantStringify$ | async"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </label>
  <label tuiLabel label="Max No. of Students">
    <tui-input-count tuiTextfieldSize="m" formControlName="maxNoStudents" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield />
    </tui-input-count>
  </label>
  <label tuiLabel label="Current No. of Students">
    <tui-input-count tuiTextfieldSize="m" formControlName="currentNumberStudents" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfield />
    </tui-input-count>
  </label>
  <div class="divider"></div>
  <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
</form>
