<h5 class="tui-text_h5">Create New Department</h5>
<form [formGroup]="createNew" (ngSubmit)="onSubmit()">
  <label tuiLabel label="Identifier">
    <tui-input tuiTextfieldSize="m" formControlName="id" [tuiTextfieldLabelOutside]="true">
      Enter ID
      <input tuiTextfield type="id" />
    </tui-input>
  </label>
  <label tuiLabel label="Title">
    <tui-input tuiTextfieldSize="m" formControlName="departmentName" [tuiTextfieldLabelOutside]="true">
      Enter Title
      <input tuiTextfield type="title" />
    </tui-input>
  </label>
  <div class="divider"></div>
  <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
</form>
