<h5 class="tui-text_h5">{{ isEditMode ? "Edit" : "Create" }} Major</h5>
<form [formGroup]="createNew" (ngSubmit)="onSubmit()">
  <label tuiLabel label="Identifier">
    <tui-input tuiTextfieldSize="m" formControlName="id" [tuiTextfieldLabelOutside]="true">
      Enter ID
      <input tuiTextfield type="id" />
    </tui-input>
  </label>
  <label tuiLabel label="Title">
    <tui-input tuiTextfieldSize="m" formControlName="majorName" [tuiTextfieldLabelOutside]="true">
      Enter Title
      <input tuiTextfield type="title" />
    </tui-input>
  </label>
  <label tuiLabel label="Faculty">
    <tui-select
      *tuiLet="facultyDataRequest$ | async as facultyItems"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      formControlName="facultyID"
      [valueContent]="facultyItems ? stringify(facultyItems) : loading"
    >
      Choose A Faculty

      <ng-template tuiDataList>
        <tui-data-list *ngIf="facultyItems; else loading">
          <button *ngFor="let item of facultyItems" tuiOption [value]="item.id">
            {{ item.facultyName }}
          </button>
        </tui-data-list>
      </ng-template>
      <ng-template #loading>
        <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
      </ng-template>
    </tui-select>
  </label>
  <div class="divider"></div>
  <button tuiButton type="submit" icon="tuiIconFile" size="m" [showLoader]="createLoading">Save</button>
</form>
