@use "../../../page-heading.scss";

td,
th {
  white-space: nowrap;
  border-right-color: var(--tui-base-04);
}

tr {
  cursor: pointer;

  &:nth-child(even) td {
    background: var(--tui-base-02);
  }

  &:hover {
    background-color: var(--tui-link-hover);
  }
}

.heading-part {
  width: 100%;
  align-items: center;
}

.content-part {
  margin-top: 20px;
  width: 100%;

  .table-search {
    margin-bottom: 25px;
  }

  table {
    width: 100%;
  }
}
