@use "../../../../../../../page-heading.scss";

tui-loader {
  width: 100%;
}

.section-title {
  margin-top: 3rem;
  font-size: 1rem;
}

.content-part {
  padding: 25px;
  background-color: white;
  border-radius: var(--tui-radius-m);
  p {
    margin: 0;
  }

  .title-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .section-title {
    }
  }

  .info-box-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;

    .info-box {
      .info-subheading {
        font-size: 0.8rem;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: bold;
      }

      .info-content {
        font-size: 1rem;
      }
    }
  }
}
