<fieldset [ngStyle]="{ 'padding-bottom': flag ? '50px' : '20px' }">
  <legend>{{ fullYear?.year }}</legend>
  <div class="semester-content">
    <!-- <div class="semester-header"><p class="tui-text_body-xl">2021 - 2022</p></div> -->
    <tui-island
      [routerLink]="fullYear.id + '-' + formatYearToDashes(fullYear.year) + '-1'"
      class="semester-1-card"
      *ngIf="fullYear?.semesterOne && fullYear?.semesterOne?.length > 0"
    >
      <p class="tui-text_body-xl">Semester 1</p>
    </tui-island>
    <tui-island
      [routerLink]="fullYear.id + '-' + formatYearToDashes(fullYear.year) + '-2'"
      class="semester-2-card"
      *ngIf="fullYear?.semesterTwo && fullYear?.semesterTwo?.length > 0"
    >
      <p class="tui-text_body-xl">Semester 2</p>
    </tui-island>
  </div>
  <div
    class="flags"
    *ngIf="flag"
    [ngStyle]="{ background: flag == 'current' ? 'var(--md-sys-color-primary-container)' : 'var(--md-sys-color-tertiary-container)' }"
  >
    <p>{{ flag == "current" ? "Current Year" : "Future Year" }}</p>
  </div>
</fieldset>
